{
  "sourceMaps": true,
  "presets": [
    ["@babel/preset-react"],
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-proposal-async-generator-functions",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
