{
	"sourceMaps": true,
  "presets": [
    ["react"],
    [
      "env",
      {
        "targets": {
          "node": "8",
          "browsers": [
            "last 2 versions",
            "safari >= 9"
          ]
        }
      }
    ]
  ],
	"plugins": [
    "transform-runtime",
    "transform-async-to-generator",
		"transform-class-properties",
		"transform-es2015-arrow-functions"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
