{
  "sourceMaps": true,
  "presets": [
    ["react"],
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 9"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-es2015-arrow-functions",
    "react-hot-loader/babel"
  ],
  "env": {
    "ddevelopment": {
      "presets": ["react-hmre"],
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }]
        }]
      ]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": ["env"]
    }
  }
}
