# App Settings
APP_ID=apphub-microapp-seed
APP_VERSION=1.0.0
DEBUG=apphub-microapp-seed:*

# Server Settings
REQUEST_LIMIT=1500kb
SESSION_SECRET=mySecret
COOKIE_NAME=myCookie
SWAGGER_API_SPEC=/spec

# API sample data store adapter (file, memory, redis)
API_DATABASE_ADAPTER=redis

# Cluster settings (redis is required if using)
#ENABLE_CLUSTER_MODE=true
#NUMBER_OF_WORKERS=8

# Redis Settings
ENABLE_REDIS_STORE=true
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=''
REDIS_DB=0

# UAA OAuth Settings
ENABLE_AUTHENTICATION=true
UAA_SERVICE_LABEL=predix-uaa
UAA_URL=https://jps-test-uaa-instance.predix-uaa.run.aws-usw02-pr.ice.predix.io
UAA_CALLBACK_URL=http://localhost:9000/oauth/callback
UAA_CLIENT_ID=test-client
UAA_CLIENT_SECRET=test
