{
	"extends": ["airbnb", "prettier"],
	"plugins": ["prettier", "react"],
	"parser": "babel-eslint",
	"globals": {
		"before": true,
		"after": true,
		"describe": true,
		"it": true
	},
	"env": {
		"browser": true,
		"jest": true,
		"es6": true
	},
	"rules": {
		"prettier/prettier": [
			"error",
			{},
			{
				"usePrettierrc": true
			}
		],
		"max-len": 1,
		"no-plusplus": "warn",
		"no-console": "warn",
		"comma-dangle": ["warn", "never"],
		"jsx-a11y/href-no-hash": 0,
		"no-case-declarations": 1,
		"global-require": 0,
		"prefer-arrow-callback": 0,
		"experimentalDecorators": 0,
		"func-names": 0,
		"import/no-extraneous-dependencies": 0,
		"no-underscore-dangle": 0,
		"space-before-function-paren": 0,
		"arrow-parens": 0,
		"no-unused-expressions": 0,
		"no-use-before-define": 0,
		"react/jsx-filename-extension": 0,
		"react/sort-comp": 0,
		"react/no-multi-comp": 0,
		"react/require-extension": 0,
		"react/require-default-props": 1,
		"react/forbid-prop-types": 1,
		"react/prop-types": 1,
		"react/no-this-in-sfc": 1,
		"react/prefer-stateless-function": 1,
		"react/destructuring-assignment": 1
	},
	"overrides": [
		{
			"files": ["src/**/*.js", "src/**/*.jsx"],
			"excludedFiles": []
		}
	]
}
