{
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
},
  "rules": {
    "arrow-body-style": ["warn", "as-needed", {
      "requireReturnForObjectLiteral": false
    }],
    "class-methods-use-this": "warn",
    "import/extensions": "warn",
    "no-unused-vars": "warn",
    "no-console": "warn",
    "no-plusplus": "warn",
    "max-len": "warn",
    "object-shorthand": "warn",
    "strict": "warn",
    "no-script-url": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "comma-dangle": "off",
    "no-undef": "off"
  }
}
