node_modules
public/jspm_packages
public/bower_components
public/build.js
public/build.js.map
dist
cdn
docs
coverage
junit
public/styles/app.css
public/styles/app.css.map
public/styles/app.min.css
.idea
*.iml
.project
npm-debug.log*
*.log
*.zip
bower_components
build
.nyc-output
.nyc_output
reports
