node_modules
bower_components

dist
cdn
docs
coverage
junit

stats.json
bundle-report.html

.idea
*.iml
*.log
*.zip
.*.json
.project
.DS_Store

build
reports
.nyc-output
.nyc_output

.temp
temp

.*.json
package-lock.json

*.tgz
report.html
stats.json
.vscode
.env
.tar
temp-db.json
.eslintcache
.predix-ci*
