@import "px-colors-design/_settings.colors.scss";
@import "px-defaults-design/_settings.defaults.scss";
/**
 * Add your variables here
 */
$red                        : #F00;
$blue                       : #00F;
$white                      : #FFF;
$gray                       : #999;
$black                      : #000;


$global-primary-color       : #007acc;
$global-primary-light-color : #b5e5fd;
$global-background-color    : #fff;
$global-font-color          : #333;
$global-font-family         : 'Helvetica Neue', arial, sans-serif;
$global-nav-font-color      : #fff;
$global-nav-background-color: #1b2a33;
