/**
 * Add your variables here
 */
$red                        : #F00;
$blue                       : #00F;
$white                      : #FFF;
$gray                       : #999;
$black                      : #000;
$global-primary-color       : #007acc;
$global-primary-light-color : #b5e5fd;
$global-background-color    : #ebeff2;
$global-font-color          : #333;
$global-font-family         : 'Helvetica Neue', arial, sans-serif;
$global-nav-font-color      : #fff;
$global-nav-background-color: #1b2a33;
$headerBackground           : #1b2a33;
$header-font-color          : #fff;
$navBackground              : #1b2a33;
$footerBackground           : #2c404c;
$contentBackground          : #8b8d8f;
