/**
 * Add your css-variables here
 */
@import "px-colors-design/_settings.colors.scss";
@import "px-defaults-design/_settings.defaults.scss";
:root{
  // Card
  --px-card-background-color                                          : $gray1;
  --px-card-border-color                                              : $gray3;
  --px-card-header-color                                              : $gray10;
  --px-card-icon-color                                                : $gray10;
  --px-card-action-icon-color                                         : $gray10;
  --px-card-action-icon-color--hover                                  : $primary-default;
  --px-card-action-icon-color--pressed                                : $primary-pressed;
}
