.chat {
  &__messages {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 300px;
    overflow: auto;
  }
  &__message {
    padding: 0 .5rem;
    span {
      font-weight: bold;
    }
  }
}


.px-input {
  flex: 1;
  flex-direction: row;
  input{
    flex: 1 0 250px;
  }
}